.instructions {
  max-width: 60%;
  margin: auto;
}

table.instructions__table {
  border-collapse: collapse;
}

table.instructions__table,
table.instructions__table th,
table.instructions__table td {
  border: 1px solid black;
}
