<div class="instructions">
  <h2>{{ 'Instructions'|t }}</h2>

  <p>
    {{ 'For this form you must have a defined structure in your file, like table below.'|t }}
  </p>

  <table class="instructions__table">
    <tr>
      <th>
        {{ 'Machine name of relation field, for example: field_id_api'|t }}
      </th>
      <th>
        url
      </th>
    </tr>
    <tr>
      <td>
        12345678
      </td>
      <td>
        https://myimages.com/image1.jpg
      </td>
    </tr>
    <tr>
      <td>
        98767541
      </td>
      <td>
        /myimages.com/image2.jpg (this case is when de url needs a prefix)
      </td>
    </tr>
  </table>

  <p>
    <strong>{{ 'Field of relation'|t }}</strong>
    {{ 'is the field that will be the relation of the row in table with the node. The first column of the table
        must have the machine name of field in the node'|t }}
  </p>

  <p>
    <strong>{{ 'Image field'|t }}</strong>
    {{ 'Which field contains the image'|t }}
  </p>

</div>
